"providertype": {
            "type": "string"
          },
          "provider_options": {
            "type": "array"
          },
          "network": {
            "type": "object"
          },
          "ssh": {
            "type": "object"
          }